/* button {
    display: inline-block;
    background-color: #7b38d8;
    padding: 5px;
    width: 100px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  } */

  img{
    width: 500px;
  }

  .winnerRed
{
    background-color: red;
}

.winnerGreen
{
    background-color: rgb(30, 252, 1);
}